/* This stylesheet is referenced from Microsoft's official login page to intimidate the website. */
/* https://login.microsoftonline.com/ */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    direction: ltr;
    font-family: "Segoe UI Webfont",
        -apple-system,
        "Helvetica Neue",
        "Lucida Grande",
        "Roboto",
        "Ebrima",
        "Nirmala UI",
        "Gadugi",
        "Segoe Xbox Symbol",
        "Segoe UI Symbol",
        "Meiryo UI",
        "Khmer UI",
        "Tunga",
        "Lao UI",
        "Raavi",
        "Iskoola Pota",
        "Latha",
        "Leelawadee",
        "Microsoft YaHei UI",
        "Microsoft JhengHei UI",
        "Malgun Gothic",
        "Estrangelo Edessa",
        "Microsoft Himalaya",
        "Microsoft New Tai Lue",
        "Microsoft PhagsPa",
        "Microsoft Tai Le",
        "Microsoft Yi Baiti",
        "Mongolian Baiti",
        "MV Boli",
        "Myanmar Text",
        "Cambria Math";
    font-weight: 400;
    font-size: .9375rem;
    line-height: 1.25rem;
    padding-bottom: 0.227px;
    padding-top: 0.227px;
    color: #000;
    background-color: #fff;
}

form {
    display: block;
    margin-top: 0em;
}

body.cb {
    color: #1b1b1b;
    text-align: left;
}

div {
    display: block;
}

a:visited {
    color: #0067b8;
}

a:link {
    color: #0067b8;
}

a {
    text-decoration: none;
    background-color: transparent;
}

#backgroundImage {
    background-image: url(../IMG/background.jpg);
    left: 0;
}

.provide-min-height {
    min-height: 1px;
}

.background-image-holder,
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
}

.background-image {
    background-repeat: no-repeat, no-repeat;
    background-position: center, center, center, center;
    background-size: cover, cover;
    animation: fadeIn 1s;
}

.background-overlay {
    background: rgba(0, 0, 0, 0.55);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sign-in-box {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 440px;
    width: calc(100% - 40px);
    padding: 44px;
    margin-bottom: 28px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    min-width: 320px;
    min-height: 338px;
    overflow: hidden;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
}

.template-section.main-section {
    height: 100%;
}

.template-section {
    display: table-row;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.has-popup,
.sign-in-box.has-popup {
    margin-bottom: 20px;
}

.fade-in-lightbox {
    animation: fadeIn .3s ease-in;
    -moz-animation: fadeIn .3s ease-in;
    -ms-animation: fadeIn .3s ease-in;
    -webkit-animation: fadeIn .3s ease-in;
    -o-animation: fadeIn .3s ease-in;
}

.lightbox-cover {
    background-color: white;
    opacity: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
}

.banner-logo {
    max-height: 36px;
}

img {
    vertical-align: middle;
    border: 0;
}

/* html[dir=ltr].animate.slide-in-next,
html[dir=ltr].animate.slide-in-back {
    animation-name: show-from-right;
}

.animate {
    animation-duration: .25s;
    animation-timing-function: cubic-bezier(.5, 0, .5, 1);
    animation-fill-mode: both;
    transition-property: left;
} */

.pagination-view {
    position: relative;
    min-height: 206px;
}

.title {
    margin-bottom: 16px;
    margin-top: 12px;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 600;
    padding: 0;
    font-family: "Segoe UI",
        "Helvetica Neue",
        "Lucida Grande",
        "Roboto",
        "Ebrima",
        "Nirmala UI",
        "Gadugi",
        "Segoe Xbox Symbol",
        "Segoe UI Symbol",
        "Meiryo UI",
        "Khmer UI",
        "Tunga",
        "Lao UI",
        "Raavi",
        "Iskoola Pota",
        "Latha",
        "Leelawadee",
        "Microsoft YaHei UI",
        "Microsoft JhengHei UI",
        "Malgun Gothic",
        "Estrangelo Edessa",
        "Microsoft Himalaya",
        "Microsoft New Tai Lue",
        "Microsoft PhagsPa",
        "Microsoft Tai Le",
        "Microsoft Yi Baiti",
        "Mongolian Baiti",
        "MV Boli",
        "Myanmar Text",
        "Cambria Math";
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.form-group {
    margin-bottom: 16px;
}

.col-md-24 {
    position: relative;
    min-height: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

.text-13 {
    font-size: .8125rem;
}

div.placeholderContainer {
    width: 100%;
    position: relative;
}

.input.text-box:hover {
    border-color: rgba(0, 0, 0, 0.8);
}

.input.text-box,
input[type="password"] {
    border-style: solid;
    padding: 6px 10px;
    border-width: 1px;
    height: 36px;
    outline: none;
    border-radius: 0;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    padding-left: 0;
}

.form-control {
    display: block;
    width: 100%;
}

input,
button {
    max-width: 100%;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
    font: inherit;
    margin: 0;
}

input {
    writing-mode: horizontal-tb;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    cursor: text;
    border-image: initial;
}

.input.text-box.has-error {
    border-color: #e81123;
}

.error {
    display: none;
    color: #e81123;
}

.moveOffScreen {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
}

.identityBanner {
    height: 24px;
    background-color: #fff;
    margin-top: 16px;
    margin-bottom: -4px;
}

.backButton {
    min-height: 24px;
    width: 24px;
    min-width: 24px;
    float: left;
    padding: 0;
    background-color: #fff;
    border-width: 0;
    border-radius: 12px;
    margin-right: 2px
}

.backButton:hover {
    background-color: #e6e6e6;
    background-color: rgba(0, 0, 0, 0.1)
}

.backButton:hover:focus {
    background-color: #ccc;
    background-color: rgba(0, 0, 0, 0.2)
}

.backButton:active {
    background-color: #b3b3b3;
    background-color: rgba(0, 0, 0, 0.3)
}

.backButton:focus {
    background-color: #e6e6e6;
    background-color: rgba(0, 0, 0, 0.1)
}

.identity {
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.boilerplate-text {
    background-color: #f2f2f2;
    padding: 24px 44px 36px 44px;
    margin: 76px -44px -44px -44px;
}

.boilerplate-text>p:last-child {
    margin-bottom: 0;
}

.boilerplate-text>p:first-child {
    margin-top: 0;
}

h3,
.text-body,
p {
    padding: 0;
    font-weight: 400;
    font-size: .9375rem;
    line-height: 1.25rem;
}

.wrap-content {
    word-wrap: break-word;
}

.move-buttons div.button-container {
    bottom: auto;
}

.button-container {
    position: absolute;
    right: 0;
    text-align: right;
}

.no-padding-left-right {
    padding-left: 0;
    padding-right: 0;
}

.col-xs-24 {
    width: 100%;
    float: left;
    min-height: 1px;
}

.inline-block {
    display: inline-block;
}

.button.primary {
    color: #fff;
    border-color: #0067b8;
    background-color: #0067b8;
    display: block;
    width: 100%;
}

input[type="submit"] {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 32px;
    border: none;
    min-width: 108px;
    line-height: normal;
    padding: 4px 12px 4px 12px;
    position: relative;
    max-width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
    touch-action: manipulation;
    -webkit-appearance: button;
    cursor: pointer;
}

#idSIButton {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 32px;
    border: none;
    min-width: 108px;
    line-height: normal;
    padding: 4px 12px 4px 12px;
    position: relative;
    max-width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
    touch-action: manipulation;
    -webkit-appearance: button;
    cursor: pointer;
}

.promoted-fed-cred-box {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 440px;
    width: calc(100% - 40px);
    margin-bottom: 28px;
    line-height: 16px;
    min-width: 320px;
    padding: 0;
    display: none;
}

.showBox {
    display: block;
}

.promoted-fed-cred-box>* {
    word-wrap: break-word;
}

.promoted-fed-cred-content {
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 20%);
    padding-left: 44px;
    padding-right: 44px;
}

.row.tile:not(.no-pick):hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: inherit;
}

.row.tile:not(.no-pick) {
    cursor: pointer;
}

.row.tile {
    margin-bottom: 0;
    outline: none;
    display: block;
    margin-left: -44px;
    margin-right: -44px;
}

.promoted-fed-cred-content .row.tile .table {
    padding-top: 8px;
    padding-bottom: 8px;
}

.row.tile .table {
    padding: 12px 44px;
}

.table {
    width: 100%;
    display: table;
    table-layout: fixed;
    max-width: 100%;
}

.table .table-row {
    display: table-row;
}

.tile-img.medium {
    width: 32px;
    height: 32px;
}

.table .table-cell {
    display: table-cell;
    vertical-align: middle;
}

.tile-img {
    position: relative;
}

.row.tile .table-cell:first-child+.table-cell {
    width: 100%;
}

.row.tile .content {
    line-height: 16px;
    padding-left: 12px;
    padding-right: 12px;
}

.text-left {
    text-align: left;
}

.footer.has-background {
    background-color: rgba(0, 0, 0, 0.6);
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: visible;
    z-index: 99;
    clear: both;
    min-height: 28px;
}

div.footerNode {
    margin: 0;
    float: right;
}

.text-secondary {
    color: rgba(0, 0, 0, 0.7);
    font-size: 13px;
}

.footer-content.footer-item.has-background {
    color: #fff;
}

.footer-content.footer-item {
    font-size: 12px;
    line-height: 28px;
    white-space: nowrap;
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
}

.footer-content.footer-item.has-background,
.footer-content.footer-item.debug-item.has-background {
    color: #fff;
}

.footer-content.footer-item.debug-item {
    text-decoration: none;
    letter-spacing: 3px;
    line-height: 22px;
    vertical-align: top;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width:600px),
(max-height:366px) {

    .background,
    .background>div,
    .background-image-holder,
    .background-image {
        display: none
    }

    .middle {
        vertical-align: top;
    }

    .sign-in-box.has-popup {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .fade-in-lightbox {
        animation: fadeIn .3s ease-in;
        -webkit-animation: fadeIn .3s ease-in;
        -moz-animation: fadeIn .3s ease-in;
        -ms-animation: fadeIn .3s ease-in;
        -o-animation: fadeIn .3s ease-in;
    }

    .sign-in-box {
        padding: 24px;
        margin-top: 0;
        width: 100vw;
        box-shadow: none;
        border: none;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        max-width: 440px;
        background-color: #fff;
        min-width: 320px;
        min-height: 338px;
        overflow: hidden;
    }

    .promoted-fed-cred-box {
        margin-top: 0;
        margin-bottom: 88px;
        width: 100vw;
        padding: 0 24px;
    }

    .move-buttons {
        bottom: auto;
    }

    .boilerplate-text {
        padding: 20px;
        margin: 76px 0 0 0;
    }

    .promoted-fed-cred-content {
        box-shadow: none;
        padding-left: 24px;
        padding-right: 24px;
        border: 1px solid rgba(0, 0, 0, 0.4);
    }

    .row.tile {
        margin-left: -24px;
        margin-right: -24px;
    }

    .row.tile .table {
        padding: 12px 24px;
    }

    .footer,
    .footer.has-background {
        background-color: #fff;
        filter: none;
    }

    div.footerNode {
        float: left;
        margin: 0 24px;
    }

    .footer-content.footer-item,
    .footer-content.footer-item.has-background,
    .footer-content.footer-item.debug-item.has-background {
        color: #747474;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.fadeIn {
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.backgroundImage,
.background-image {
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.animate {
    animation-duration: .25s;
    -webkit-animation-duration: .25s;
    -moz-animation-duration: .25s;
    -ms-animation-duration: .25s;
    -o-animation-duration: .25s;
    animation-timing-function: cubic-bezier(.5, 0, .5, 1);
    -webkit-animation-timing-function: cubic-bezier(.5, 0, .5, 1);
    -moz-animation-timing-function: cubic-bezier(.5, 0, .5, 1);
    -ms-animation-timing-function: cubic-bezier(.5, 0, .5, 1);
    -o-animation-timing-function: cubic-bezier(.5, 0, .5, 1);
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    transition-property: left;
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -ms-transition-property: left;
    -o-transition-property: left
}

html[dir=ltr] .animate.slide-out-next,
html[dir=rtl] .animate.slide-out-back {
    animation-name: hide-to-left;
    -webkit-animation-name: hide-to-left;
    -moz-animation-name: hide-to-left;
    -ms-animation-name: hide-to-left;
    -o-animation-name: hide-to-left
}

html[dir=ltr] .animate.slide-in-next,
html[dir=rtl] .animate.slide-in-back {
    animation-name: show-from-right;
    -webkit-animation-name: show-from-right;
    -moz-animation-name: show-from-right;
    -ms-animation-name: show-from-right;
    -o-animation-name: show-from-right
}

html[dir=ltr] .animate.slide-out-back,
html[dir=rtl] .animate.slide-out-next {
    animation-name: hide-to-right;
    -webkit-animation-name: hide-to-right;
    -moz-animation-name: hide-to-right;
    -ms-animation-name: hide-to-right;
    -o-animation-name: hide-to-right
}

html[dir=ltr] .animate.slide-in-back,
html[dir=rtl] .animate.slide-in-next {
    animation-name: show-from-left;
    -webkit-animation-name: show-from-left;
    -moz-animation-name: show-from-left;
    -ms-animation-name: show-from-left;
    -o-animation-name: show-from-left
}

@keyframes hide-to-left {
    from {
        left: 0;
        opacity: 1
    }

    to {
        left: -200px;
        opacity: 0
    }
}

@keyframes show-from-right {
    from {
        left: 200px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

@keyframes hide-to-right {
    from {
        left: 0;
        opacity: 1
    }

    to {
        left: 200px;
        opacity: 0
    }
}

@keyframes show-from-left {
    from {
        left: -200px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

@-webkit-keyframes hide-to-left {
    from {
        left: 0;
        opacity: 1
    }

    to {
        left: -200px;
        opacity: 0
    }
}

@-webkit-keyframes show-from-right {
    from {
        left: 200px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

@-webkit-keyframes hide-to-right {
    from {
        left: 0;
        opacity: 1
    }

    to {
        left: 200px;
        opacity: 0
    }
}

@-webkit-keyframes show-from-left {
    from {
        left: -200px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

@-moz-keyframes hide-to-left {
    from {
        left: 0;
        opacity: 1
    }

    to {
        left: -200px;
        opacity: 0
    }
}

@-moz-keyframes show-from-right {
    from {
        left: 200px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

@-moz-keyframes hide-to-right {
    from {
        left: 0;
        opacity: 1
    }

    to {
        left: 200px;
        opacity: 0
    }
}

@-moz-keyframes show-from-left {
    from {
        left: -200px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

@-ms-keyframes hide-to-left {
    from {
        left: 0;
        opacity: 1
    }

    to {
        left: -200px;
        opacity: 0
    }
}

@-ms-keyframes show-from-right {
    from {
        left: 200px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

@-ms-keyframes hide-to-right {
    from {
        left: 0;
        opacity: 1
    }

    to {
        left: 200px;
        opacity: 0
    }
}

@-ms-keyframes show-from-left {
    from {
        left: -200px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

@-o-keyframes hide-to-left {
    from {
        left: 0;
        opacity: 1
    }

    to {
        left: -200px;
        opacity: 0
    }
}

@-o-keyframes show-from-right {
    from {
        left: 200px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

@-o-keyframes hide-to-right {
    from {
        left: 0;
        opacity: 1
    }

    to {
        left: 200px;
        opacity: 0
    }
}

@-o-keyframes show-from-left {
    from {
        left: -200px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}